.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-bottom: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  margin: 10px;
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(0deg);
  }

  35% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(0deg);
  }

  35% {
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: bold;
}

.orange {
  color: orange;
}

.price-warning {
  color: red;
  font-size: 30px;
}

.blinking {
  -webkit-animation: blinkingText 0.3s infinite;
          animation: blinkingText 0.3s infinite;
}

@-webkit-keyframes blinkingText {
  0% {
    color: red;
  }

  49% {
    color: transparent;
  }

  50% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: red;
  }
}

@keyframes blinkingText {
  0% {
    color: red;
  }

  49% {
    color: transparent;
  }

  50% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: red;
  }
}

