.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-bottom: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  margin: 10px;
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(0deg);
  }

  35% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(0deg);
  }

  35% {
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: bold;
}

